.container {
  padding: 0 4rem 2rem;
}

.page {
  padding: .2rem .7rem;
  margin: .5rem;
  background: white;
  border: 1px solid black;
  border-radius: 5px;
}

.active {
  background: black;
  color: white;
}